body {
  background: url(images/image_de_fond_bleue.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  font-family: 'Playfair Display', serif;
  font-family: 'Hurricane','Karla', sans-serif;
  margin: auto;
}
h1 {
  color: rgb(211, 211, 233);
  text-align: center;
  /* box-shadow: 5px 5px 5px rgb(46, 11, 46);
  border-radius: rgb(7, 7, 90); */
  margin: auto;
}
/**
a {
    display: flex;
    justify-content: center;
}
#photo{
    width: 30%;
    margin-top: 5%;
}
**/
img{
  box-shadow: 1px 1px 12px black;
}
a #photo{
  position: absolute;
  right: 4px;
  top: 10px;
  width:20%;
 
}
main{
  color: rgb(12, 15, 189);
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  margin-top: 15%;
  width:100%; 
}
h2 {
  color: rgb(7, 7, 90);
  text-align: center;
}
.profil{
  width:25%;
  
}
p{
  color: rgb(27, 4, 102);
  font-family: 'Hurricane','Karla', sans-serif;
  font-size: x-large;
  text-align: center ;
}

.competence{
  color: rgb(81, 81, 175);
}
.formation{
  padding-right: 10%;
  padding-right: 0;
  color: #210d2ece;
}
  

ul{
  text-align: left;
}

#partie2{
  display: flex;
  width: 75%;

}
#partie2 section{
  min-width: 250px;
}

footer img{
  margin: auto;
}

/**début du code media queries**/

@media screen and (max-width: 770px)
{
  main{
    flex-direction: column-reverse;
    margin-top: 0%;
  }
  .profil{
    width: 100%;
    margin: auto;
    text-align: center;
  }
  #partie2{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  section{
    padding: 10px;
  }
  a #photo{
    position: unset;
    width: 50%;
  }

}


