

h1 {
  color: rgb(211, 211, 233);
  text-align: center;
  box-shadow: 5px 5px 5px rgb(46, 11, 46);
}
body {
    background: url(images/image_de_fond_bleue.jpg);
    background-size: cover;
    font-family: 'Playfair Display', serif;
  }
h1 {
  border-radius: rgb(7, 7, 90);
  display: table;
  margin: auto;
}
h2 {
    color: rgb(7, 7, 90);
    margin-left: 40px;
  }

a {
    display: flex;
    justify-content: center;
}
#photo{
    width: 30%;
    margin-top: 5%;
}
ul {
  color: rgb(12, 15, 189);
  font-style: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.competence {
  color: rgb(81, 81, 175);
}
.formation {
  color: #61526bce;
  
}
main {
    display: flex;
    justify-content: space-between;
    padding: 0  5%;
    margin-top: 5%;
    
}
section {
    width: 30%;
}
